<div class="container mt-5">
    <h1>Cart</h1>
    <table class="table table-dark table-hover ">
        <tr>
            <th>Name Products</th>
            <th>Price Products</th>
            <th>Image Products</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
            <%
                cart.map(x=>{%>
                    <tr>
                        <td><%= x.item.name%></td>
                        <td><%= x.item.price %></td>
                        <td><img src="<%= x.imageSrc %>" height="50px" width="100px" alt=""></td>
                        <td>
                            <form action="/cart?_method=PUT" method="POST">
                                <a href="/cart/reduce/<%= x.id %>" class="reduceCart btn btn-light" id="<%= x.id %>">-</a>
                                <span id="qty<%= x.id %>"><span id="qty2<%= x.id %>"><%= x.qty %></span></span>
                                <a href="/cart/increase/<%= x.id %>" class="increaseCart btn btn-light" id="<%= x.id %>">+</a>
                            </form>
                        </td>
                        <td>
                            <form class="deleteCart" action="/cart/<%= x.id%>" data-id="<%= x.id%>" method="POST">
                                <input type="submit" value="Delete" class=" btn btn-danger" >
                            </form>
                        </td>
                     </tr>
                <%})
            %>
    </table>
     
    <h1>Total: <span id="total1"><span id="total2"><%= total %></span></span> </h1>

  </div>